.productSlider span[class*='swiper-pagination-bullet'] {
  background: #23262f;
}

.productSlider [class*=swiper-button-prev],
.productSlider [class*=swiper-button-next] {
  background: #23262f;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.1);
  top: calc(100% - 26px);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 20;
}

.productSlider [class*=swiper-button-prev]:hover,
.productSlider [class*=swiper-button-next]:hover {
  background: #286f6c;
  transition: all 0.25s ease-in-out;
}

.productSlider [class*=swiper-button-prev] {
  left: 40%;
}
.productSlider [class*=swiper-button-next] {
  right: 40%;
}

.productSlider [class*=swiper-button-prev]:after,
.productSlider [class*=swiper-button-next]:after {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.productSlider [class*=swiper-pagination] {
  bottom: 20px;
}

@media (max-width: 768px) {
  .productSlider [class*=swiper-button-prev],
  .productSlider [class*=swiper-button-next],
  .productSlider [class*=swiper-pagination] {
    display: none;
  }
}

@media (min-width: 1024px) {
  .productSlider [class*=swiper-button-prev],
  .productSlider [class*=swiper-button-next] {
    width: 40px;
    height: 40px;
  }
}
